@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.displayNone {
  display: none;
}

.fadeIn {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.button {
  font-family: Lato, sans-serif !important;
  cursor: pointer;
  width: 50%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  line-height: 3.4rem;
  text-overflow: ellipsis;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 2rem;
  box-sizing: border-box;
  transition: background .3s, color .3s, opacity .3s;
  background-color: #747a7e
}

.disabledButton {
  @extend .button;
  background-color: silver;
  cursor: default;
}

.buttonContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}